@* 

*@

@{
}
@model List<Movie>
@* The table lists all the movies from Joel's database *@
<table class="table table-bordered">
    <thead class="table-header">
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>Copied to Plex</th>
            <th>Notes</th>
        </tr>
    </thead>
    @* Loop through the bag with all the movie info joined with the category table *@
    @foreach (var movie in Model)
    {
        <tr>
            <tbody>
            <td>@movie.Title</td>
            <td>@movie.Category.CategoryName</td>
            <td>@movie.Year</td>
            <td>@movie.Director</td>
            <td>@movie.Rating</td>
            <td>@(movie.Edited ? "Yes" : "No")</td>
            <td>@(movie.CopiedToPlex ? "Yes" : "No")</td>
            <td>@movie.Notes</td>
            @* Pass the MovieId through the route to pull up the information in the addmovie form but now used for editing *@
            <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@movie.MovieId">Edit</a></td>
            <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@movie.MovieId">Delete</a></td>
            </tbody>
        </tr>

    }
</table>
